.footer {
  font-family: "Segoe UI";
  max-width: calc(100% * 0.95);
  border-top: 1px solid lightslategray;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0px auto;
  margin-top: auto;
  margin-bottom: 40px;
  padding: 40px 10px;
}

@media screen and (min-width: 958px) {
  .footer {
    max-width: calc(958px * 0.95);
  }
}

.footer__logo-title-logo {
  width: 24px;
  height: 24px;
  border-radius: 5px;
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.5rem;
  color: white;
  background-color: #283d3b;
}

.footer .list {
  min-width: 25%;
}

.footer .title {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.footer .cont {
  display: block;
  line-height: 1.35rem;
  color: rgb(131, 131, 131);
}

.footer .cont:hover {
  text-decoration: underline;
}

.footer__logo {
  margin-bottom: 30px;
}

@media screen and (max-width: 576px) {
  .footer__logo,
  .footer__about {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .footer__features,
  .footer__resources {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .footer__logo {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .footer__features,
  .footer__resources,
  .footer__about {
    flex: 0 0 50%;
    max-width: calc(100% / 3);
  }
}
