.main {
  max-width: 958px;
  font-family: "Segoe UI";
  margin: 0 auto;
  margin-top: 70px;
}

.main__title {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 200;
}

.main__desc {
  text-align: center;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 200;
  max-width: 670px;
  padding: 0px 24px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 70px;
}

@media screen and (max-width: 576px) {
  .main__title {
    margin-top: calc(70px * 0.85 + 70px);
  }
  .main__desc {
    margin-top: calc(60px * 0.85);
    margin-bottom: calc(70px * 0.85);
  }
}

@media screen and (min-width: 768px) {
  .main__desc {
    margin-top: 20px;
  }
}

.main__items {
  display: block;
  margin-bottom: 90px;
}

.main__items .item {
  border: 1px solid rgba(40, 61, 60, 0.5);
  border-radius: 15px;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 90%;
  box-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 0.021), 0 1px 1px rgba(0, 0, 0, 0.031),
    0 1.7px 1.7px rgba(0, 0, 0, 0.038), 0 2.6px 2.6px rgba(0, 0, 0, 0.044),
    0 3.8px 3.8px rgba(0, 0, 0, 0.05), 0 5.3px 5.3px rgba(0, 0, 0, 0.056),
    0 7.5px 7.5px rgba(0, 0, 0, 0.062), 0 11px 11px rgba(0, 0, 0, 0.069),
    0 16.9px 16.9px rgba(0, 0, 0, 0.079), 0 30px 30px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 576px) {
  .main__items .item {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .main__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 10px;
    margin-bottom: 70px;
  }
  .main__items .item {
    min-width: 220px;
    flex: 1 0 0%;
    margin: 0 15px;
    margin-bottom: 30px;
  }
  .main__desc {
    width: 90%;
  }
}

@media screen and (min-width: 768px) {
  .main__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 10px;
    margin-bottom: 70px;
  }
  .main__items .item {
    width: calc(100% / 3);
    flex: 1 0 0%;
    margin: 0 15px;
    margin-bottom: 30px;
  }
  .main__desc {
    width: 90%;
  }
}

.main__items .title {
  border-bottom: 1px solid #283d3b;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  background-color: rgba(40, 62, 60, 0.92);
  text-align: center;
  font-size: 1.5rem;
  color: #f6efee;
  padding: 10px 0px;
}

.main__items .cont {
  text-align: center;
}

.main__items .price {
  margin-top: 20px;
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.75);
}

.main__items .price .price-mo {
  display: inline;
  font-size: 1.8rem;
  font-weight: 400;
  color: lightslategray;
}

.main__items .desc {
  margin-top: 20px;
  line-height: 1.5rem;
}

.main__items .btn {
  border: 1px solid rgb(40, 62, 60, 0.5);
  border-radius: 5px;
  color: rgb(40, 62, 60, 0.92);
  font-weight: 400;
  padding: 15px 0px;
  font-size: 1.25rem;
  line-height: 1rem;
  max-width: 90%;
  margin: 20px auto;
  cursor: pointer;
  transition: color 0.125s ease-in-out, background-color 0.125s ease-in-out;
}

.main__items-free-cont-btn:hover {
  color: #f6efee;
  background-color: #197278;
}

.main__items .btn2 {
  background-color: rgb(40, 62, 60, 0.92);
  color: #f6efee;
}

.main__items .btn2:hover {
  background-color: #197278;
  border-color: #197278;
}
