.nav {
  display: flex;
  align-items: center;
  padding: 0px 20px;
  height: 70px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.16),
    0px 5px 10px 0px rgba(0, 0, 0, 0.24);
  background-color: #283d3b;
  color: #f6efee;
}

.nav__company-name {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.125rem;
  margin-right: 20px;
  cursor: pointer;
}

.nav__menu {
  font-family: "Segoe UI";
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 400px;
  margin-left: auto;
}

.fa-bars {
  display: none;
}

.nav__menu .list:hover {
  text-decoration: underline;
}

@media screen and (max-width: 576px) {
  .nav__menu .list {
    display: none;
  }
  .nav__menu .fa-bars {
    display: block;
    position: absolute;
    font-size: calc(1.55rem * 0.85);
    left: calc(180vw * 0.5);
  }
  .nav {
    position: fixed;
    top: 0px;
    height: calc(70px * 0.85);
  }
  .nav__company-name {
    font-size: calc(1.25rem * 0.85);
  }
}

.nav__menu .nav__menu-sign-up:hover {
  text-decoration: none;
  color: #283d3b;
  background-color: #f6efee;
}

/* .nav__menu-features {
}

.nav__menu-enterprise {
}

.nav__menu-support {
}

.nav__menu-pricing {
}

.nav__menu-sign-up {
} */

.nav__menu-sign-up {
  border: 2px solid #f6efee;
  border-radius: 5px;
  padding: 10px;
  font-weight: 500;
  color: #f6efee;
  transition: color 0.125s ease-in-out, background-color 0.125s ease-in-out;
}
